<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hqxh.tzpowerproject">

    <!-- permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Permission for Unit Test -->

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SampleTheme">
        <activity
            android:name=".view.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.PermissionsActivity"
            android:label="PermissionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MainActivity"
            android:label="LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.XqjhListActivity"
            android:label="XqjhListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PrListActivity"
            android:label="PrListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.RfqListActivity"
            android:label="RfqListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PoListActivity"
            android:label="PoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PayapproveListActivity"
            android:label="PayapproveListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MatecodeListActivity"
            android:label="MatecodeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.CompaniesListActivity"
            android:label="CompaniesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.RequireplandetailsActivity"
            android:label="RequireplandetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.RequireplanlineListActivity"
            android:label="RequireplanlineListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.RequireplanlinedetailsActivity"
            android:label="RequireplanlinedetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PrdetailsActivity"
            android:label="PrdetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PrLineListActivity"
            android:label="PrLineListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WftransactionListActivity"
            android:label="WftransactionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.RfqdetailsActivity"
            android:label="WftransactionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.RfqlineListActivity"
            android:label="RfqlineListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.RfqlineDetailsActivity"
            android:label="RfqlineDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.RfqvendorListActivity"
            android:label="RfqvendorListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PodetailsActivity"
            android:label="PodetailsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>